<div class="control-panel">
  <div class="button-panel">
    <!-- <button mat-raised-button color="primary" type="button" (click)="getTickets()" matTooltip="Refresh the tickets">Refresh</button> -->
    <button mat-raised-button color="primary" type="button" (click)="addTicket()" *ngIf="!selectedTicket" matTooltip="Add a new ticket">Add</button>
  </div>
  <!-- <app-filter [filterObserver]="filterObserver" filterPlaceholder="Filter by each ticket's description" class="filter-panel"></app-filter> -->
</div>

<div class="tickets-panel">
  <h2 class="title">All Tickets</h2>
  <div class="counters">
    <p>Uncompleted: {{uncompletedTotal$ | async}}</p>
  </div>
  <mat-tab-group>
    <mat-tab label="Uncompleted">
      <tickets-card-list [tickets]="uncompletedTickets$ | async" [users]="users$ | async" (complete)="complete($event)" (assign)="assign($event)">
      </tickets-card-list>
    </mat-tab>
    <mat-tab label="Completed">
      <tickets-card-list [tickets]="completedTickets$ | async" [users]="users$ | async" (complete)="complete($event)" (assign)="assign($event)">
      </tickets-card-list>
    </mat-tab>
  </mat-tab-group>
</div>
